*{
    padding: 0;
    margin: 0;
    color: aliceblue;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(47, 101, 149);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bard{
    display: inline-flex;
    justify-content: space-between;
    margin: 30px;

}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bard div{
    height: 35px;
}

.aguamarina{
    background-color: aqua;
}

.azul{
    background-color: rgb(25, 109, 182);
}

.morado{
    background-color: blueviolet;
}

.azuloscuro{
    background-color: blue;
}

.amarillo{
    background-color: yellow;
}

.naranja{
    background-color: orangered;
}

.uno{
    width: 60px;
}
.dos{
    width: 140px;
}
.tres{
    width: 60px;
}
.cuatro{
    width: 80px;
}
.cinco{
    width: 200px;
}
.seis{
    width: 60px;
}

.contend{
    width: 95%;
    height: 80vh;
    border: 3px red solid;
    display: flex;
}

.izquierda{
    width: 50%;
    height: 100%;
}

.UnoDos{
    height: 50%;
}

.UnoDos div{
    height: 50%;
}

.trescuatro{
    height: 50%;

}

.tresh{
    height: 80%;
}
.cuatroh{
    height: 20%;
}

.derecha{
    height: 100%;
    width: 50%;
}

.derecha div{
    height: 50%;
}
